.codrops-demos button {
  border: solid black 1px;
  color: black;
}

.codrops-demos button:hover {
  background-color: teal;
  border-color: teal;
  color: white;
}

.container {
  height: 100%;
  padding-right: 10%;
  padding-left: 10%;
}

.description {
  font-size: 16px;
  font-weight: 300;
}

button:focus {
  background-color: teal;
  border-color: teal;
  color: white;
}

button {
  color: black;
}

#fdasmall {
  width: 95%;
  margin: auto;
}

.filter-style {
  margin: 0 auto;
  padding: 3em 2em .5em 2em;
  text-align: center;
}

.filter-style h1 {
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1.3;
	margin: 0;
}

.filter-style h1 span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
  padding: 0 0 0.6em 0.1em;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, .2);
  color: black;
  font-size: 13px;
  margin-top: 80px;
}

#footer .padding {
  padding: 15px;
}

#footer a:hover {
  color: #F2B21C;
}

.footer-icons {
  font-size: 16px;
  text-align: right;
}

.grid figcaption h2 {
  color: #fff;
  font-weight: 400;
  font-size: 1.8em;
  font-family: 'Lato', Helvetica, sans-serif;
}

.grid figcaption p {
  color: #fff;
  font-weight: 300;
  font-size: 13px;
  font-family: 'Lato', Helvetica, sans-serif;
  opacity: .8;
}

header h2 {
  color: teal;
  font-size: 4.5em;
  font-family: 'Roboto Slab', sans-serif;
}

header p {
  color: black;
  font-size: 2em;
  line-height: 1.75em;
  font-family: 'Lato', Arial, sans-serif;
  font-weight: lighter;
}

.header {
  padding-left: 10px;
}

/*a:hover #header-link  {
  text-decoration: none;
  border-bottom: 1px solid;
  color: black;
}*/

#header-link {
  border-bottom: 1px solid;
  color: teal;
  text-decoration: none;
}

.header {
  margin-top: 6em;
}

.header a:hover {
  color: #F2B21C;
}

#home {
  text-align: right;
  padding-top: 20px;
  letter-spacing: 1px;
}

#home .fa {
  padding-right: 5px;
}

#home a {
  color: black;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}

#home a:hover {
  color: teal;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  text-decoration: none;
}

#home a:focus {
  color: teal;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
  text-decoration: none;
}

.icon {
  color: teal;
  padding-left: 5px;
  text-decoration: none;
}

iframe {
  padding-top: 15px;
}

.live {
  text-align: center;
  font-family: 'lato';
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  font-weight: 300;
}

.live a {
  font-family: 'lato';
  color: teal;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 1px solid;
  text-decoration: none;
}

nav {
  padding-bottom: 4em;
}

nav .brand {
  color: black;
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: 3px;
  margin-left: -10px;
  text-decoration: none;
}

.padding2 {
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding-top: 4em;
}

.padding3 {
  padding-top: 2em;
}

.project {
  padding-top: 10px;
}

.project a {
  font-family: 'lato';
  color: teal;
  font-size: 18px;
  font-weight: lighter;
  border-bottom: 1px solid;
  text-decoration: none;
}

#rebuildsmall {
  width: 60%;
  margin: auto;
  padding-top: 20px;
}

.title {
  font-family: 'lato';
  text-transform: uppercase;
  color: teal;
  font-size: 17px;
  font-weight: 500;
}
